{% extends 'addevent/base.html' %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add Purchase</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form"  method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
			 <div class="form-group">
       				 <div class="col-sm-offset-2 col-sm-10">
           			 <span class="text-danger small">{{ field.errors }}</span>
        			</div>
        			<label class="control-label col-sm-2" for="song_title">{{ field.label_tag }}</label>
        			<div class="col-sm-10">{{ field }}</div>
    			</div>
			{% endfor %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" id="redir" onclick="showmessage()"  class="btn btn-success">Submit</button>
				<script>
				function showmessage(){
				document.getElementById("msg").innerHTML=" * Transaction successful";
				//location.href = "{% url 'addevent:ledger' %}";
				}
				</script>
                            </div>
                        </div>
			<p color="green" id="msg" border=2px position="fixed"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
