{% extends 'addevent/base.html' %}
{% block body %}
<div class="albums-container container-fluid">

    <!-- Room Members -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h3>Summary</h3>
        </div>
    </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Paid Amount</th>
                                <th>Phone</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td><a href="https://www.facebook.com/rohithreddykota" text-decoration="none">Rohith Reddy Kota</a></td>
                                    <td>{{ rec_rohith.evnt_doer_added_amount__sum }}</td>
				    <td>+918527969790</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/rishyendra.kiran" text-decoration="none">Rishi Chowdary</a></td>
                                    <td>{{ rec_rishi.evnt_doer_added_amount__sum }}</td>
                                    <td>+918500058802</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/jagadish.krishna.7" text-decoration="none">Jagadish Krishna Chowdary</a></td>
                                    <td>{{ rec_jagadish.evnt_doer_added_amount__sum }}</td>
                                    <td>+918121275675</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/rhemanth.goud"  text-decoration="none">R Hemanth Goud</td>
                                    <td>{{ rec_hemanth.evnt_doer_added_amount__sum }}</td>
                                    <td>+919100091188</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/akshayreddy.chinnolla" text-decoration="none">Akshay Reddy</a></td>
                                    <td>{{ rec_akshay.evnt_doer_added_amount__sum }}</td>
                                    <td>+918464050504</td>
                                </tr>
                                <tr>
                                    <td><a href="#" text-decoration="none">Nikhil</td>
                                    <td>{{ rec_nikhil.evnt_doer_added_amount__sum }}</td>
                                    <td>+919494959984</td>
                                </tr>
                           <!-- <tr>
                                    <td><strong>Total Available Money</strong></td>
                                    <td>{{ rec_room.evnt_doer_added_amount__sum }}</td>
                                    <td>+918121275675</td>
                             --></tr>
                                <tr>
                                    <td><strong>Total Spent Money</strong></td>
                                    <td>{{ rec_spent_room.evnt_amount__sum }}</td>
                                    <td>+918121275675</td>
                                </tr>
                          </tbody>
                    </table>
                </div>
            </div>
            <h3 color="blue">What is for next version (Version 1.1)?</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped">
                            <tr>
                                <td>1</td>
                                <td>Each user will be given a User ID and Password.</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>A user can see only their record informantion.</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>After submitting "add purchase", you will be redirected to your ledger information page automatically.</td>
                            </tr>
                    <tbody>
                </div>
            </div>

    </div>
</dev>
{% endblock %}
