{% extends 'addevent/base.html' %}
{% block body %}
<div class="container-fluid ledger-container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Product</th>
                                <th>Puchase Amount</th>
				<th>Amount He Added</th>
                                <th>details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in allevents %}
                                <tr>
                                    <td>{{ event.evnt_date }}</td>
                                    <td>{{  event.evnt_doer }}</td>
                                    <td>{{  event.evnt_product }}</td>
                                    <td>{{  event.evnt_amount }}</td>
                                    <td>{{  event.evnt_doer_added_amount }}</td>
				    <td>{{  event.evnt_details }}</td>
				</tr>
			    {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}
